.music-container, .playlist-container {
    margin-top: 50px;
}

.listentimes {
    max-width: 2ex;
}

.opt {
    background-color: #342C5F;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropimg {
    border: none;
}
.dropdownoption {
    display: none;
    position: absolute;
    background-color: #342C5F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownoption a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}