@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-attachment: #161623;
}

.profile{
    width: 280px;
    height: 280px;
}

/* .container{
    min-height: 50vh;
    background-color: #ebf5fc;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .card{
    position: relative;
    min-width: 320 px;
    height: 440 px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0, 0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0, 0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
} */