    /* common css that every page has */
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    * {
        color: #FAF8FC !important;
        font-family: Poppins;
        font-style: normal;
    }
    
    body {
        background-color: #403672 !important;
    }
    
    .music-card {
        background-color: rgba(196, 196, 196, 0.2) !important;
        padding: 1em;
        border-radius: 10px;
    }
    
    .music-card:hover {
        background-color: #B775FB !important;
    }
    /*When hover, the image("more vert" button) will show up*/
    
    .music-card:hover .showWhenHover {
        margin-top: 10px;
        max-width: 0.7ex;
        float: right;
    }
    /*When not hover, the image("more vert" button) is hidden*/
    
    .music-card .showWhenHover {
        max-width: 0ex;
        float: right;
    }
    
    .music-title {
        font-style: normal;
        font-weight: 600;
        font-size: 22px !important;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .showall {
        text-align: right;
    }
    
    .showall a {
        font-size: 13px;
        color: rgb(166, 146, 187) !important;
    }
    
    .card-body {
        padding-left: 5px;
        padding-bottom: 5px;
    }
    
    .card-title {
        font-size: 17px !important;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .card-text {
        font-size: 13px;
        color: #CDCDCD!important;
    }
    
    button,
    .btn.login-button-submit {
        font-size: 21px !important;
        font-weight: 500 !important;
        padding: 5px 30px !important;
        background-color: #B775FB;
        border: none !important;
        border-radius: 15px !important;
        cursor: pointer !important;
    }
    
    button:hover,
    .btn.login-button-submit:hover {
        background-color: #62569C !important;
        transition: all 0.25s ease 0s !important;
    }