

* {
    color: #FAF8FC !important;
    font-family: Poppins;
    font-style: normal;
}

.navbar {

    background: #1D193F;

}

.music-card{
    background-color: rgba(196, 196, 196, 0.2) !important;
    padding: 1em;
    border-radius: 10px;
}

body {
    background-color: #403672 !important; 
    
}

.login-button{
    background-color: #B775FB !important;
}

.music-title {
    font-size: large;
}