/* * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !;
} */

.container-aboutus {
    width: 100% !important;
    height: 75vh !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-start !important;
    justify-content: center !important;
}

.profile-box {
    max-width: 500px !important;
    min-width: 400px !important;
    background-color: #1D193F !important;
    text-align: center !important;
    padding: 40px !important;
    color: #fff !important;
    position: relative !important;
    border-radius: 20px !important;
    margin: 3rem 4rem !important;
}

.profile-pic {
    width: 150px !important;
    border-radius: 50% !important;
    background: #fff !important;
    padding: 6px !important;
    margin: 0px 0px 0.5rem 0px !important;
}

.profile-bottom {
    background-color: #fff !important;
    color: rgb(141, 46, 46) !important;
    padding: 40px !important;
    margin-right: -3rem !important;
    margin-left: -3rem !important;
    margin-bottom: -40px !important;
    border-radius: 15px !important;
}

.profile-text {
    color: rgb(141, 46, 46) !important;
    margin: 0px !important;
}

.social-media a img {
    margin-bottom: 20px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.social-media a img:hover {
    background-color: #A692BB !important;
    border-radius: 50px !important;
}

.Topic {
    text-align: center !important;
    margin-top: 40px !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.Description {
    font-size: 18px !important;
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    color: #A692BB !important;
}

@media (max-width:1395px) {
    .container {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: flex-start !important;
    }
    .profile-pic {
        width: 200px !important;
        border-radius: 50% !important;
        background: #fff !important;
        padding: 6px !important;
        margin: 0px 0px 5px 0px !important;
        justify-content: space-between !important;
    }
}


/* .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-attachment: #161623;
}

.profile{
    width: 280px;
    height: 280px;
} */


/* .container .card{
    position: relative;
    min-width: 320 px;
    height: 440 px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0, 0.05),
                inset -5px -5px 5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0, 0.05),
                -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}  */